<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @{ Html.RenderPartial("_Header", null); }
    <div>
        @RenderBody()
    </div>

 <p>  @{ Html.RenderPartial("_Footer", null); }</p>

</body>
</html>
